body {
    background-color: #F3F5FC;
}

header img {
    width: auto;
    padding: 20px 10px;
}

.text-des-encriptado {
    display: inline-block;
    margin: 10px 5px 10px 50px;
    width: 60%;
    background-color: #F3F5FC;
    border: none;
    font-size: 32px;
}

.text-resultado {
    margin: 10px 20px 10px 5px;
    width: 30%;
    background-color: #F3F5FC;
    border: none;
    font-size: 32px;
}

.aclaracion {
    margin: 20px 50px -9px 50px;
}

.btn-1,
.btn-3 {
    width: 27%;
    padding: 10px 5px;
    margin: 10px 20px 10px 50px;
    font-size: 18px;
    color: white;
    background-color: #0A3871;
    border: #0A3871;
    border-radius: 24px;
    transition: 1s all;
}

.btn-1:hover,
.btn-3:hover {
    background: darkslateblue;
    transform: scale(1.1);
}

.btn-2 {
    width: 27%;
    padding: 10px 5px;
    margin: 10px 20px;
    font-size: 18px;
    background-color: #D8DFE8;
    border-color: #0A3871;
    border-radius: 24px;
    transition: 1s all;
}

.btn-2:hover {
    background: darkgray;
    transform: scale(1.1);
}

.container {
    display: flex;
    justify-content: end;
    margin: 15px 35px;
}

.container button {
    font-size: 15px;
    padding: 10px;
    background-color: green;
    color: white;
    border-radius: 20px;
    text-decoration: none;
    transition: 1s all;
}

.container button:hover {
    background: darkgreen;
    transform: scale(1.1);
}